In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [66]:
DF=pd.read_csv('C:/Users/dell/Desktop/Data Science Diploma/final project/test.csv')

In [67]:
DF.isna().sum()

Unnamed: 0                            0
id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

In [68]:
DF[['Inflight wifi service','Departure/Arrival time convenient','Ease of Online booking',
     'Gate location','Food and drink','Online boarding','Seat comfort','Inflight entertainment','On-board service',
     'Leg room service','Baggage handling','Checkin service','Inflight service','Cleanliness']]=DF[['Inflight wifi service','Departure/Arrival time convenient','Ease of Online booking',
     'Gate location','Food and drink','Online boarding','Seat comfort','Inflight entertainment','On-board service',
     'Leg room service','Baggage handling','Checkin service','Inflight service','Cleanliness']].replace(0,3)

In [69]:
def AgeCategory(age):
    if age in range(0,21):
        return 1
    elif age in range(21,31):
        return 2
    elif age in range(31,41):
        return 3
    elif age in range(41,51):
        return 4
    elif age in range(51,61):
        return 5
    elif age in range(61,71):
        return 6
    else:
        return 7

In [70]:
DF['Age_category']=DF['Age'].apply(AgeCategory)

In [71]:
def customerType(customer):
    if customer =='Loyal Customer':
        return 1
    else:
        return 0

In [72]:
DF['CustomerType']=DF['Customer Type'].apply(customerType)

In [73]:
def classcategory(customerclass):
    if customerclass =='Business':
        return 1
    elif customerclass=='Eco':
        return 2
    else:
        return 0

In [74]:
DF['Class_new']=DF['Class'].apply(classcategory)

In [75]:
def satisfaction1(x):
    if x =='neutral or dissatisfied':
        return 0
    else:
        return 1

In [76]:
DF['Satisfaction']=DF['satisfaction'].apply(satisfaction1)

In [77]:
def TypeofTravel(traveltype):
    if traveltype =='Business travel':
        return 1
    else:
        return 0

In [78]:
DF['Type of travel']=DF['Type of Travel'].apply(TypeofTravel)

In [79]:
DF.columns

Index(['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction', 'Age_category', 'CustomerType', 'Class_new',
       'Satisfaction', 'Type of travel'],
      dtype='object')

In [80]:
DF=DF.drop(['Unnamed: 0', 'id','Age','Gender','Customer Type','Class','satisfaction','Type of Travel','Arrival Delay in Minutes'],axis=1)

In [81]:
DF.columns

Index(['Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Age_category',
       'CustomerType', 'Class_new', 'Satisfaction', 'Type of travel'],
      dtype='object')

In [82]:
DF.head()

,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Age_category,CustomerType,Class_new,Satisfaction,Type of travel
0,160,5,4,3,4,3,4,3,5,5,...,5,2,5,5,50,5,1,2,1,1
1,2863,1,1,3,1,5,4,5,4,4,...,4,3,4,5,0,3,1,1,1,1
2,192,2,3,2,4,2,2,2,2,4,...,3,2,2,2,0,7,0,2,0,1
3,3377,3,3,3,2,3,4,4,1,1,...,1,3,1,4,0,4,1,1,1,1
4,1182,2,3,4,3,4,1,2,2,2,...,2,4,2,4,0,4,1,2,1,1

In [83]:
features=DF.drop(columns=['Satisfaction'])
y_true=DF['Satisfaction']

In [84]:
model=joblib.load('C:/Users/dell/Desktop/Data Science Diploma/passenger satisfaction/models/rffmodel.h5')

In [88]:
prediction=model.predict(features)

In [98]:
from sklearn.metrics import recall_score, precision_score, accuracy_score, f1_score,fbeta_score

In [94]:
accuracy_score(prediction,y_true)

0.9317831844779797

In [90]:
recall_score(prediction,y_true)

0.9448498845265589

In [92]:
precision_score(prediction,y_true)

0.8969569411558361

In [97]:
f1_score(prediction,y_true)

0.9202807270109773

#### f-0.5 score

In [99]:
fbeta_score(y_true,prediction,beta=0.5)

0.9348664607059943